.shirt{
	background-color: #8c123b;
	width:700px;
	height: 300px;
	margin-top: 40px;
	margin-left: 20px;
}
.bol{
	color:darkred ;
	margin-left: 35px;
}
.bol b{
	margin-top: -10px;
}
img{
	margin-left: 280px;
	margin-top: 30px;
	border-radius: 10px;
}
.sect{
	margin-left: 300px;
}
h3{
	text-decoration: underline;
	font-size: 020px;
	margin-left: 300px;
}
.sect{
	background-color: gray;
	margin-left: 20px;
}
.put{
	background-color: ;
}
